body {
    background: #c9ffff;
    cursor: default;
}

#draw{
    background-color:#e8c9ff;
    border-radius:30px;
    margin-left: 10px;
    width: all;
    height: 120px;
    
}

.row{
    width: 100%;
    text-align: center;
    line-height: 60px;

}

.btn1{    
        margin-top: 5px;
        margin-left: 20px;
        width: 80px;
        height: 35px;
        background: #d396ff;
        color: white;
        font-size: 22px;
        transition: background 0.3s;
        border-radius: 50% 20% / 10% 40%;
        box-shadow: none;
        border: 0;		  
}

.btn2{    
    margin-top: 5px;
    margin-left: 20px;
    width: 120px;
    height: 45px;
    background: #d396ff;
    color: white;
    font-size: 22px;
    transition: background 0.3s;
    border-radius: 50% 20% / 10% 40%;
    box-shadow: none;
    border: 0;		  
}

.row2{
    width: 100%;
    text-align: center;
    line-height: 60px;
}


input[type="range"]{
        margin-top: 40px;
        margin-left: 0px;
        /*-webkit-appearance: none;*/
        overflow:100px;     /* 限定範圍 */
        width:150px;
        height:20px;
        outline : none;      /* 避免點選會有藍線或虛線 */
        background:none;
          }

input[type="text"]{
        margin-top: 40px;
        margin-left: 0px;
        /*-webkit-appearance: none;*/
        overflow:100px;     /* 限定範圍 */
        width:100px;
        height:20px; 
        background:white;
            }

 canvas {
    border: 1px solid #000;
    background-color: #ffe8e8;
}   

